# Test notebook to structure the data

In [1]:
import pandas as pd

In [2]:
data_path = "sample_data.txt"
df = pd.read_csv(data_path, sep="\t")

In [ ]:
# trial, response_time, accept (1 = gamble, 0 = safe), gain, loss, prob_gain, prob_loss, outcome, total_accumulated_money

,onset,duration,trial_period,trial,TR_relativeToTrialOnset,trial_type,response_time,button_pressed,choice,outcome,gamble_position,rightbutton_position,total_gain
0,12.0008,2,prechoice,1,1,symmetric,NaN,NaN,NaN,NaN,bottom,NaN,NaN
1,14.0008,4,choice,1,2,symmetric,2.3919,left,gamble,NaN,bottom,top,NaN
2,18.0008,2,outcome,1,4,symmetric,NaN,NaN,NaN,3.05,NaN,NaN,19.15
3,20.0008,2,ITI,1,5,symmetric,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,22.0008,2,ITI,1,6,symmetric,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,864.0001,2,ITI,71,6,positiveSkew,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,866.0001,2,prechoice,72,1,positiveSkew,NaN,NaN,NaN,NaN,bottom,NaN,NaN
357,868.0001,4,choice,72,2,positiveSkew,2.0084,right,safe,NaN,bottom,top,NaN
358,872.0001,2,outcome,72,4,positiveSkew,NaN,NaN,NaN,0.00,NaN,NaN,18.30
359,874.0001,2,ITI,72,5,positiveSkew,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
map_to_stimuli = {
    "symmetric" : {}
}

In [ ]:
# Goal would be to have a dataframe with stimuli shown (gain loss prob_gain and prob_loss), response time, the choice and the feedback